body{
    margin: auto;
    text-align: center;
}

ul{
    display: inline-block;
    text-align: left;
   
    
    
}

/* li{
    text-align: center;
    width: 0 50%;
    margin: 0 auto;
} */